
# FVM Version Cache
.fvm/

# Flutter/Dart
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id
.pub-cache/
coverage/

# Android
android/.gradle/
android/local.properties
android/*.iml
android/*.jks
android/key.properties
android/app/debug
android/app/profile
android/app/release

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.generated/
DerivedData/
xcuserdata/

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/

# Editor/IDE
.idea/
*.iml
*.ipr
*.iws

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Misc (OS files)
.DS_Store

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# Local/private dart-define files
config/env/*.local.json
config/env/private/*.json
